
<!DOCTYPE html>
<html lang="en" data-ng-app="licenseApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="">

    <title>My Licenses</title>
      
    <style type="text/css">
        a {
            cursor: pointer;
        }
        .highlight {
            background-color: #edde34;
            color: #222222;
            border-radius: 3px;
        }
    </style>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    
	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/lib/bootstrap-datetimepicker.min.css">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
  </head>

  <body data-ng-controller="CoreController" class="ng-cloak">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" data-ng-click="changeView('home')">My Licenses</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li data-ng-show="!signedIn" data-ng-class="{ active: page == 'home' }">
              <a data-ng-click="changeView('home')">
                <i class="glyphicon glyphicon-home"></i> Home
              </a>
            </li>
            <li data-ng-show="signedIn" data-ng-class="{ active: page == 'search' }">
              <a data-ng-click="changeView('search')">
                <i class="glyphicon glyphicon-search"></i> Search
              </a>
            </li>
            <li data-ng-show="signedIn" data-ng-class="{ active: page == 'index' }">
              <a data-ng-click="changeView('index')">
                <i class="glyphicon glyphicon-list"></i> All Licenses
              </a>
            </li>
            <li data-ng-show="signedIn" data-ng-class="{ active: page == 'createLicense' }">
              <a data-ng-click="changeView('createLicense')">
                <i class="glyphicon glyphicon-plus"></i> Add License
              </a>
            </li>
          </ul> 
           <ul class="nav navbar-nav navbar-right">
            <li data-ng-show="!signedIn">
              <a data-ng-click="signinUser()">
                <i class="glyphicon glyphicon-log-in"></i> Sign In
              </a>
            </li>
            <li data-ng-show="signedIn">
              <a data-ng-click="signoutUser()">
                <i class="glyphicon glyphicon-log-out"></i> Sign Out
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container" style="margin-bottom: 100px;">
        <div class="page" data-ng-switch on="page">

            <div class="createLicense" data-ng-switch-when="createLicense">
                <div class="page-header">
                  <h1>Add License</h1>
                </div>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <div data-ng-show="errors.true" class="alert alert-danger">
                            <p>Please review the following errors</p>
                        </div>

                      <form role="form" data-ng-submit="addLicense()">

                        <div class="form-group">
                          <label for="newVendor" class="control-label">Vendor</label>
                          <input data-gtt-focus type="text" class="form-control" id="newVendor" data-gtt-typeahead="vendors" data-ng-model="newLicense.vendor" placeholder="Microsoft, Adobe, TextMate, etc." />
                        </div>

                        <div class="row">
                          <div class="col-sm-8">

                            <div class="form-group" data-ng-class="{ 'has-error': errors.product }">
                              <label for="newProduct" class="control-label">Product</label>
                              <input type="text" class="form-control" id="newProduct" data-ng-model="newLicense.product" placeholder="Visual Studio, Sublime, Parallels, etc.">
                              <span class="help-block" data-ng-show="errors.product">{{ errors.product }}</span>
                            </div>

                          </div>
                          <div class="col-sm-4">

                            <div class="form-group">
                              <label for="newVersionNumber" class="control-label">Version Number</label>
                              <input type="text" class="form-control" id="newVersionNumber" data-ng-model="newLicense.versionNumber" placeholder="1.5, 2004, etc.">
                            </div>

                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="newPurchaseDate" class="control-label">Purchase Date</label>
                              <input type="text" data-gtt-calendar id="newPurchaseDate" class="form-control" data-ng-model="newLicense.purchaseDate" placeholder="mm/dd/yyyy">
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="newLicenseExpires" class="control-label">License Expires</label>
                              <input type="text" data-gtt-calendar id="newLicenseExpires" class="form-control" data-ng-model="newLicense.licenseExpiresDate" placeholder="mm/dd/yyyy">
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="newSupportExpires" class="control-label">Support Expires</label>
                              <input type="text" data-gtt-calendar id="newSupportExpires" class="form-control" data-ng-model="newLicense.supportExpiresDate" placeholder="mm/dd/yyyy">
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label for="newLicenseCost" class="control-label">License Cost</label>
                              <input type="text" id="newLicenseCost" class="form-control text-right" data-ng-model="newLicense.licenseCost" placeholder="Cost">
                            </div>
                          </div>
                        </div>

                          <div class="form-group">
                              <label for="newLicenseUrl" class="control-label">URL</label>
                              <input type="text" id="newLicenseUrl" class="form-control" data-ng-model="newLicense.url" placeholder="e.g. http://www.example.com">
                          </div>

                          <div class="row">
                              <div class="col-sm-6">
                                  <div class="form-group">
                                      <label for="newLicenseUsername" class="control-label">Username</label>
                                      <input type="text" id="newLicenseUsername" class="form-control" data-ng-model="newLicense.username" placeholder="e.g. activation requires email address">
                                  </div>
                              </div>
                          </div>

                        <div class="form-group" data-ng-class="{ 'has-error': errors.activationCode }" data-ng-show="!newLicense.longCode">
                          <label for="newLicenseCodeShort" class="control-label">Activation Code</label> <a data-ng-click="newLicense.longCode = true">Have Long Code?</a>
                          <input type="text" id="newLicenseCodeShort" class="form-control" data-ng-model="newLicense.activationCode" placeholder="Activation Code">
                           <span class="help-block" data-ng-show="errors.activationCode">{{ errors.activationCode }}</span>
                        </div>

                        <div class="form-group" data-ng-show="newLicense.longCode">
                          <label for="newLicenseCodeLong" class="control-label">Activation Code</label> <a data-ng-click="newLicense.longCode = false">Have Short Code?</a>
                          <textarea data-gtt-elastic id="newLicenseCodeLong" type="text" class="form-control" data-ng-model="newLicense.activationCode" placeholder="Activation Code"></textarea>
                        </div>

                        <div class="form-group">
                          <label for="newLicenseAdditionalNotes" class="control-label">Additional Notes</label>
                          <textarea data-gtt-elastic id="newLicenseAdditionalNotes" type="text" class="form-control" data-ng-model="newLicense.additionalNotes" placeholder="Additional Notes"></textarea>
                        </div>

                        <div class="form-group">
                          <div>
                            <button type="submit" class="btn btn-default">Save License</button>
                          </div>
                        </div>

                      </form>
                    </div>
                </div>

            </div>

            <div data-ng-switch-default>
                <div class="page-header">
                    <h1>License Manager</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <p>This application helps you store your software activation codes safely and securely.</p>
                            </div>
                        </div>


                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">1. Sign in with dropbox</h2>
                            </div>
                            <div class="panel-body">
                                Currently we only support dropbox as a data backend. Sign in (or sign up for free) with
                                <a href="http://www.dropbox.com">dropbox</a> and connect our application to your dropbox account.
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">2. We never see your data</h2>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Your licenses information is securely transferred directly to your dropbox account
                                    so you can feel safe that your data stays between you and dropbox.
                                </p>
                            </div>
                        </div>

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h2 class="panel-title">3. Search your licenses</h2>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Combine our application and your data to provide a powerful search interface
                                    to your license data.
                                </p>
                            </div>
                        </div>

                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h2 class="panel-title">4. Browser Restrictions</h2>
                            </div>
                            <div class="panel-body">
                                <p>
                                    Due to our dependency on Dropbox we only support IE10+, Safari 6+ and
                                    recent versions of Firefox and Chrome.
                                </p>
                            </div>
                        </div>

                        <div class="text-center">
                            <a class="btn btn-primary" data-ng-click="signinUser()">
                                <i class="glyphicon glyphicon-log-in"></i> Sign in via dropbox to get started
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-switch-when="index">
                <div class="page-header">
                    <h1>All Licenses</h1>
                </div>

                <table class="table table-condensed">
                   <thead>
                        <tr>
                           <th></th>
                           <th>Vendor</th>
                           <th>Product</th>
                           <th>Version</th>
                       </tr>
                   </thead>
                    <tbody>
                        <tr data-ng-repeat="l in allLicenses">
                            <td>{{ $index + 1 }}</td>
                            <td>{{ l.vendor }}</td>
                            <td>{{ l.product }}</td>
                            <td>{{ l.versionNumber }}</td>
                            <td><button data-ng-click="editLicense($index, l)" class="btn btn-default btn-xs">Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div data-ng-switch-when="search">
                <div class="page-header">
                  <h1>Search your Licenses</h1>
                </div>

                <div class="row">
                    <div class="col-sm-8">
                        <input type="text" data-gtt-focus data-ng-focus id="hackeyId" class="form-control" data-ng-model="search.licenseSearch" data-ng-change="updatedSearch()" placeholder="Search Licenses ...." />
                    </div>
                    <div class="col-sm-4">
                        <label class="checkbox"><input data-ng-model="search.isInactive" type="checkbox" /> Show Inactive</label>
                    </div>
                </div>


                <div data-ng-show="!search.licenseSearch && allLicenses.length > 0" style="margin-top: 20px;" class="alert alert-info">
                    <p>Please enter a search term ...</p>
                </div>

                <div data-ng-show="!search.licenseSearch && dataLoaded && allLicenses.length == 0" class="alert alert-danger">
                    <p>Please add some licenses</p>
                </div>

                <div style="margin-top: 20px;" data-ng-show="search.licenseSearch && !search.searchCounter" class="alert alert-danger">
                    <p>No results for term <strong>{{ search.licenseSearch }}</strong></p>
                </div>

                <div style="margin-top: 20px;" data-ng-show="search.licenseSearch && search.searchCounter" class="alert alert-success">
                    <div class="row">
                        <div class="col-md-6">
                            {{ search.searchCounter }} result{{ search.searchCounter == 1 ? '' : 's' }}  for term <strong>{{ search.licenseSearch }}</strong>
                        </div>
                        <div class="col-md-6" style="text-align: right;" data-ng-show="search.searchCounter > search.pageSize">
                            Showing results <strong>{{ search.searchOffset + 1 }}</strong> through <strong>{{ searchMax() }}</strong>
                            <div class="btn-group">
                                <button data-ng-disabled="search.searchOffset <= 0" class="btn btn-success btn-xs" data-ng-click="search.searchOffset = search.searchOffset - search.pageSize">
                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                </button>
                                <button data-ng-disabled="search.searchOffset + 10 >= search.searchCounter" class="btn btn-success btn-xs" data-ng-click="search.searchOffset = search.searchOffset + search.pageSize">
                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 30px;">
                    <div class="row">

                        <div class="col-md-6" data-ng-repeat="l in allLicenses | filter: categoryFilter | filter: search.licenseSearch | filter: searchCounter | limitTo: search.pageSize">
                            <div data-gtt-fadein class="panel panel-default" data-ng-class="{ 'panel-danger' : l.isDeleted, 'panel-warning': l.isInactive }">
                                <div class="panel-heading">
                                    <span class="pull-right">
                                        <button class="btn btn-default btn-xs" data-ng-click="toggleActiveLicense(l)">
                                            <i class="glyphicon glyphicon-minus-sign"></i>
                                        </button>
                                        <button class="btn btn-default btn-xs" data-ng-click="toggleMore(l)">
                                            <i data-ng-show="!search.meta[l.id].more" class="glyphicon glyphicon-chevron-down"></i>
                                            <i data-ng-show="search.meta[l.id].more" class="glyphicon glyphicon-chevron-up"></i>
                                        </button>
                                    </span>
                                    <h4 class="panel-title">
                                        <strong>{{ $index + search.offset + 1 }}.</strong>
                                        <strong data-gtt-highlight="search.licenseSearch" data-ng-bind="l.vendor"></strong>
                                        <span style="margin-left: 10px;" data-gtt-highlight="search.licenseSearch" data-ng-bind="l.product"></span>
                                        <small style="margin-left: 10px;" data-gtt-highlight="search.licenseSearch" data-ng-bind="l.versionNumber"></small>
                                    </h4>
                                </div>
                                <div class="panel-body" style="height: 150px; vertical-align: middle;">
                                    <div data-ng-show="!search.meta[l.id].more">
                                        <pre style="overflow: scroll" data-ng-show="l.longCode && l.activationCode"><code>{{ l.activationCode }}</code></pre>
                                        <h5 style="font-size: 120%; text-align: center; font-weight: 700;" data-ng-show="!l.longCode && l.activationCode">{{ l.activationCode }}</h5>
                                        <p data-ng-show="l.username" style="text-align: center;"><strong>License Name: </strong>{{ l.username }}</p>
                                    </div>
                                    <div data-ng-show="search.meta[l.id].more">
                                        <button data-ng-click="editLicense($index, l)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-edit"></i> Edit</button>
                                        <span class="pull-right">
                                            <button data-ng-click="deleteLicense($index, l)" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div> <!-- /container -->
    <div class="container">
        
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-animate.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"></script>
	
	<script src="//cdnjs.cloudflare.com/ajax/libs/store.js/1.3.14/store.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js"></script>
	<script src="https://www.dropbox.com/static/api/dropbox-datastores-1.0-latest.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.4.0/moment.min.js"></script>
    <script src="/lib/bootstrap-datetimepicker.min.js"></script>
    <script src="/lib/elastictxt.js"></script>

    <script>
        var Models = {};
        Models.LicenseModel = function(src) {
            src = src || {};
            if (src.id) {
                this.id = src.id;
            }
            this.vendor = src.vendor || "";
            this.product = src.product || "";
            this.versionNumber = src.versionNumber || "";
            this.purchaseDate = src.purchaseDate || new Date();
            this.licenseExpiresDate = src.licenseExpiresDate || null;
            this.supportExpiresDate = src.supportExpiresDate || null;
            this.licenseCost = src.licenseCost || 0;
            this.activationCode = src.activationCode || "";
            this.additionalNotes = src.additionalNotes || "";
            this.longCode = src.longCode || false;
            this.url = src.url || "";
            this.username = src.username || "";
            this.searchString = this.vendor + " " + this.product + " " + this.versionNumber;
            this.sortString = this.vendor.toLowerCase() + " " + this.product.toLowerCase() + " " + this.versionNumber.toLowerCase();
            this.isDeleted = src.isDeleted || false;
            this.isInactive = src.isInactive || false;

            this.dataObject = function() {
                var _do = _.omit(this, ['validationResult', 'dataObject', 'isValid', 'searchString', 'sortString' ]);
                return _do;
            }

            this.validationResult = function() {
                var errs = {};
                if (!this.product) {
                    errs.true = true;
                    errs.product = "Please enter a title";
                }

                if (!this.activationCode) {
                    errs.true = true;
                    errs.activationCode = "Please enter an activation code";
                }
                return errs;
            };

            this.isValid = function() {
                var vr = this.validationResult();
                var l = Object.keys(vr).length == 0;
                return l;
            };
        };

    </script>

    <script>
        _.mixin({
            compactObject : function(o) {
                _.each(o, function(v, k){
                    if(v == null)
                        delete o[k];
                });
                return o;
            }
        });
    </script>

    <script>

        var app = angular.module('licenseApp', ['ngAnimate']);

        app.value("dbkey", "yfrarrhirp2pjar");

        app.controller('CoreController', ['$scope','dropboxStorage', function($scope, dropboxStorage) {

            var findDuplicateActivationCode = function(license) {
                var lcode = (license.product + license.activationCode).toLowerCase();
                var id = license.id;
                var dupe = false;
                for(var i=0;i<$scope.allLicenses.length;i++) {
                    var testCode = ($scope.allLicenses[i].product + $scope.allLicenses[i].activationCode).toLowerCase();
                     if(testCode == lcode && id != $scope.allLicenses[i].id) {
                         dupe = true;
                         break;
                     }
                }
                return dupe;
            }

            $scope.signedIn = null;
            $scope.allLicenses = [];
            $scope.vendors = [];
            $scope.products = [];
            $scope.newLicense = new Models.LicenseModel();
            $scope.page = "home";
            $scope.dataLoaded = false;
            $scope.search = {
                meta: {},
                searchOffset: 0,
                pageSize: 10
            };

            $scope.changeView = function(name) {
                $scope.page = name;
                console.log(name);
                switch (name) {
                    case 'search':
                        $scope.search.licenseSearch = "";
                        break;
                    case 'createLicense':
                        $scope.errors = {};
                        $scope.newLicense = new Models.LicenseModel();
                        break;
                    case 'home':
                        if ($scope.signedIn) {
                            $scope.page = "search";
                        }
                        break;
                    default:
                }
            };

            if (dropboxStorage.isSignedIn()) {
                $scope.signedIn = true;
                $scope.changeView('search');
                dropboxStorage.getAllItems(function(errors, records) {
                    if (!errors) {
                        $scope.$apply(function() {
                            $scope.allLicenses = records;
                            $scope.vendors = _.uniq(_.map(records, function(r) {
                                return r.vendor;
                            }), false, function(a) {
                                return a.toLowerCase();
                            });
                            $scope.products = _.uniq(_.map(records, function(r) {
                                return r.product;
                            }), false, function(a) {
                                return a.toLowerCase();
                            });
                            $scope.dataLoaded = true;
                        });
                    }
                });
            }

            $scope.signinUser = function() {
              dropboxStorage.signIn();
            };

            $scope.signoutUser = function() {
                dropboxStorage.signOut(function(){
                    $scope.$apply(function() {
                        $scope.signedIn = false;
                        $scope.page = '';
                        $scope.allLicenses = [];
                        $scope.vendors = [];
                        $scope.products = [];
                    });
                });
            };

            $scope.addLicense = function() {
                $scope.errors = {};
                var license = $scope.newLicense;
                if (!license.isValid()) {
                    $scope.errors = license.validationResult();
                    return;
                }
                if (findDuplicateActivationCode(license)) {
                    $scope.errors.activationCode = "This code is already in the system";
                    return;
                }
                if (license.id) {
                    dropboxStorage.updateItem(license.dataObject());
                    $scope.newLicense = new Models.LicenseModel();
                    $scope.page = 'search';
                } else {
                    dropboxStorage.saveItem(license.dataObject());
                    $scope.allLicenses.push(license);
                    $scope.newLicense = new Models.LicenseModel();
                }

            };

            $scope.deleteLicense = function(idx, license) {
                dropboxStorage.softDeleteItem(license);
                $scope.allLicenses.splice(idx, 1);
            };

            $scope.toggleActiveLicense = function(license) {
                dropboxStorage.toggleActive(license);
            };

            $scope.categoryFilter = function(license) {
              $scope.search.searchCounter = 0;
              if (!$scope.search.licenseSearch) {
                  return false;
              }
              if ($scope.search.isInactive) {
                  return !license.isDeleted
              }
              return !license.isInactive && !license.isDeleted;
            };

            $scope.searchCounter = function(license) {
                $scope.search.searchCounter++;
                return ($scope.search.searchCounter > $scope.search.searchOffset);
            };

            $scope.toggleMore = function(license) {
                $scope.search.meta[license.id] = $scope.search.meta[license.id] || {};
                $scope.search.meta[license.id].more = !$scope.search.meta[license.id].more;
            };

            $scope.updatedSearch = function() {
              $scope.search.searchOffset = 0;
              $scope.search.meta = {};
            };

            $scope.editLicense = function(index, license) {
              $scope.newLicense = license;
              $scope.page = "createLicense";
            };

            $scope.searchMax = function() {
                var diff = $scope.search.searchCounter - $scope.search.searchOffset;
                return diff > $scope.search.pageSize ? $scope.search.searchOffset + $scope.search.pageSize : $scope.search.searchCounter;
            }



        }]);

        app.factory('random', [function() {
            // http://stackoverflow.com/a/7228322/185045
            function randomFromInterval(from,to)
            {
                return Math.floor(Math.random()*(to-from+1)+from);
            }
            return {
                number: function(from, to) {
                    return randomFromInterval(from, to);
                }
            }
        }]);

        app.factory('browser', [function() {
            function isMobile() {
                var us = navigator.userAgent.toUpperCase();
                return us.indexOf('MOBILE') > 0 || us.indexOf('TABLET') > 0;
            }

            return {
                mobile: isMobile(),
                useragent: function() {
                    return navigator.userAgent;
                }
            };
        }]);

        app.factory('dropboxStorage', ["dbkey", function(dbkey) {

            var client = new Dropbox.Client({key: dbkey});
            var datastore = null;

            client.authenticate({interactive: false}, function (error) {
                if (error) {
                    alert('Authentication error: ' + error);
                }
            });

            function signIn(callback) {
                callback = callback || function(){};
                if (datastore) {
                    if (callback) {
                        callback(null, true);
                    }
                } else {
                    client.authenticate(function(errors, client) {
                        if (!errors) {
                            var datastoreManager = client.getDatastoreManager();
                            datastoreManager.openDefaultDatastore(function(errors, ds) {
                                if (!errors) {
                                    datastore = ds;
                                    callback(null, true);
                                } else {
                                    callback(errors, false);
                                }
                            });
                        } else {
                            callback(errors, false);
                        }
                    });
                }
            }

            function getTable(tableName, callback) {
                if (!datastore) {
                    signIn(function(errors, success) {
                        if (!errors && success) {
                            callback(datastore.getTable(tableName));
                        }
                    });
                } else {
                    callback(datastore.getTable(tableName));
                }
            }

            return {

                saveItem: function(item) {
                    getTable("licenses", function(table) {
                       var record = table.insert(_.compactObject(item));
                    });
                },
                updateItem: function(item) {
                    getTable("licenses", function(table) {
                        var data = angular.copy(_.compactObject(item));
                       var record = table.getOrInsert(data.id).update(data);
                    });
                },
                softDeleteItem: function(item) {
                    getTable("licenses", function(table) {
                        item.isDeleted = true;
                        var record = table.get(item.id).set("isDeleted", true);
                    });
                },
                toggleActive: function(item) {
                    getTable("licenses", function(table) {
                        item.isInactive = !item.isInactive;
                        var record = table.get(item.id).set("isInactive", item.isInactive);
                    });
                },
                getAllItems: function(callback) {
                    getTable("licenses", function(table) {
                        var records = table.query({ isDeleted: false });
                        records = _.map(records, function(r){
                            var src = r.getFields();
                            src.id = r.getId();
                            return new Models.LicenseModel(src);
                        });
                        records = _.sortBy(records, function(l){ return l.sortString; });
                        callback(null, records);
                    });
                },
                deleteItem: function(item) {
                    getTable("licenses", function(table) {
                       var record = table.get(item.id).deleteRecord();
                    });
                },
                isSignedIn: function() {
                    return client.isAuthenticated();
                },
                signOut: function(callback) {
                    if(client.isAuthenticated()) {
                        datastore = null;
                        client.signOut(null, callback);
                    } else {

                    }
                },
                signIn: function(callback) {
                    signIn(callback);
                }

            }
        }]);

        app.directive('gttFadein', ['random', 'browser', function(random, browser) {
           return {
               restrict: 'A',
               link: function($scope, element, attrs) {
                   if (!browser.mobile) {
                       element[0].style.opacity = 0;
                       element.css("transition", "opacity 500ms");
                       setTimeout(function() {
                           element[0].style.opacity = 1;
                       }, random.number(0, 300));
                   }
               }
           };
        }]);

        app.directive("gttHighlight", ['browser', function(browser) {
            return {
                restrict: "A",
                scope: {
                  ngBind: '='
                },
                link: function($scope, element, attrs) {
                    if (!browser.mobile) {
                        var originalName = $scope.ngBind;
                        $scope.$parent.$watch(attrs.gttHighlight, function(val, oldVal) {
                            if (originalName) {
                                var segments = val.split(' ');
                                var updatedText = originalName;
                                for (var i=0;i<segments.length;i++) {
                                    var regex = new RegExp( '(' + segments[i] + ')(?!([^<]+)?>)', 'gi' );
                                    updatedText = updatedText.replace( regex, "<span class='highlight'>$1</span>" );
                                }
                                element.html(updatedText);
                            }
                        });
                    }
                }
            }
        }]);

        app.directive("gttElastic", [function() {
            return {
                restrict: 'A',
                link: function($scope, element, attrs) {
                    var et = new ElasticText({ node: element[0] });
                    var model = attrs.ngModel;
                    if (model) {
                        $scope.$watch(model, function(val) {
                           et.update();
                        });
                    }
                }
            }
        }]);

        app.directive("gttFocus", [function() {
            return {
                restrict: 'A',
                link: function($scope, element, attrs) {
                    setTimeout(function() {
                        element[0].focus();
                    }, 0);
                }
            }
        }]);

        app.directive("gttCalendar", ['$parse', function($parse) {
           return {
               restrict: 'A',
               scope: {
                   ngModel: '='
               },
               link: function($scope, element, attrs) {
                   element.datepicker({
                       todayBtn: "linked",
                       autoclose: true,
                       todayHighlight: true
                   }).on("changeDate", function(e) {
                        $scope.$apply(function() {
                           $scope.ngModel = e.date;
                        });
                   });

                   var model = attrs.ngModel;
                   if (!model) return;
                   $scope.$parent.$watch(model, function(value, oldValue, $scope) {
                       if (value && value.getMonth) {
                           element.val((value.getMonth() + 1) + "/" + value.getDate() + "/" + value.getFullYear());
                       }
                   });
               }
           }
        }]);

    </script>
  </body>
</html>
